// CUD ver. 4
// neutral color
$black: rgb(0, 0, 0);
$grey: rgb(132, 145, 158);
$light-grey: rgb(200, 200, 203);
$white: rgb(255, 255, 255);

// base color
$light-pink: rgb(255, 202, 191);
$cream: rgb(255, 255, 128);
$lime: rgb(216, 242, 85);
$light-sky: rgb(191, 228, 255);
$beige: rgb(255, 202, 128);
$light-green: rgb(119, 217, 168);
$light-purple: rgb(201, 172, 230);

// accent color
$red: rgb(255, 75, 0);
$yellow: rgb(255, 241, 0);
$green: rgb(3, 175, 122);
$blue: rgb(0, 90, 255);
$sky: rgb(77, 196, 255);
$pink: rgb(255, 128, 130);
$orange: rgb(246, 170, 0);
$purple: rgb(153, 0, 153);
$brown: rgb(128, 64, 0);

body {
  background-color: rgb(225, 225, 225);
  color: $black;
}

.pagination-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.spinner-container {
  width: 100%;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.rest-list-container {
  .Polaris-Card {
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }
}

.rest-card {
  margin-bottom: 1em;
}
