// CUD ver. 4
// neutral color
$black: rgb(0, 0, 0);
$grey: rgb(132, 145, 158);
$light-grey: rgb(200, 200, 203);
$white: rgb(255, 255, 255);

// base color
$light-pink: rgb(255, 202, 191);
$cream: rgb(255, 255, 128);
$lime: rgb(216, 242, 85);
$light-sky: rgb(191, 228, 255);
$beige: rgb(255, 202, 128);
$light-green: rgb(119, 217, 168);
$light-purple: rgb(201, 172, 230);

// accent color
$red: rgb(255, 75, 0);
$yellow: rgb(255, 241, 0);
$green: rgb(3, 175, 122);
$blue: rgb(0, 90, 255);
$sky: rgb(77, 196, 255);
$pink: rgb(255, 128, 130);
$orange: rgb(246, 170, 0);
$purple: rgb(153, 0, 153);
$brown: rgb(128, 64, 0);

body {
  background-color: rgb(225, 225, 225);
  color: $black;
}

.pagination-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.spinner-container {
  width: 100%;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.rest-list-container {
  .Polaris-Card {
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }
}

.rest-card {
  margin-bottom: 1em;
}

.rest-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rest-list-content {
  display: flex;
}

.rest-list-desc {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .access {
    margin-top: 0.2em;
  }
}

.rest-list-category {
  margin-left: 1rem;
}

.loc-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loc-search-divider {
  position: relative;
  outline: 0;
  border: 0;
  color: #eee;
  text-align: center;
}

.loc-search-divider:before {
  content: "";
  background: #eee;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
}

.loc-search-divider:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  color: #aaa;
  background-color: #fcfcfa;
}

.rest-null {
  width: 100%;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  color: #999;
}

.rest-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rest-image {
  margin-bottom: 1em;
}

.thumb-container {
  width: 80px;
}

.radar-circle {
  fill: None;
  stroke: darkorange;
}

.radar-cover-circle {
  fill: darkorange;
  opacity: .2;
  stroke: None;
}

.radar-current-location {
  fill: darkorange;
  stroke: None;
  cursor: pointer;
}

.loc-indicator {
  stroke: darkorange;
  fill: white;
  cursor: pointer;
}

.loc-text {
  color: #999;
  font-size: 0.8rem;
  cursor: pointer;
}
